* {
    font-family: "Open Sans", sans-serif;

}

ul {
    text-align: left;
    float: left;
    /* padding-left: 220px; */
}

#heading {
    float: left;
    font-size: 50px;
}

li {
    list-style: none;
    display: inline;
    padding: 20px;
    font-size: 20px;
}

header {
    padding-top: 20px;
    text-align: center;
    margin-left: 450px;
    align-items: center;
}

a {
    text-decoration: none;
    color: azure;
}

.div-container {
    display: flex;
    height: 200px;
    align-items: baseline;
}

.article {
    height: auto;
    width: auto;
    text-align: center;
    font-size: 20px;
}

#p1 {
    font-size: 25px;
}

#mainHeader {
    background-image: linear-gradient(purple, pink);
    background-position: center;
    height: 300%;
    padding-bottom: 100px;
    border-radius: 0 0 40% 40%;
    color: white;

}

button {
    background-color: #045DBC;
    color: white;
    border: 2px solid #045DBC;
    height: 60px;
    width: 300px;
    text-align: center;
    /* margin: auto; */
    /* margin-left: 44%; */
    /* margin-right: 50%; */
    border-radius: 30px;
    font-size: 25px;
}

button:hover {
    background-color: #1004bc;
    transition-duration: 0.62s;
}

.mh {
    background-color: rgba(128, 128, 128, 0.349);
}

.ics {
    height: 150px;
    width: 10%;
    display: inline-block;
    margin: 0 50px 50px 0;
    position: static;
    background-image: url(Images/client_logo-1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.icons {
    margin: auto;
    position: relative;
    /* margin-left: 28%; */
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.iconsbg {
    background-color: rgba(128, 128, 128, 0.349);
}

.title {
    color: black;
    font-size: 50px;
    text-align: center;
    padding: 100px;
    font-weight: 600;
}

#i1 {
    background-color: #438EDE;
    border-radius: 100%;
    background-size: contain;
    height: 100px;
    width: auto;
}

.fs {
    width: 15%;
    height: 410px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 2px 2px 10px gray;
    display: inline-block;
    margin-left: 20px;
    padding: 50px;
    overflow: auto;
}

.fs:hover {
    border-color: white;
    box-shadow: 2px 2px 30px gray;
    transition: box-shadow .8s;
}

.features {
    display: flex;
    justify-content: center;
}

.but {
    display: flex;
    justify-content: center;
}

.imgbg1 {
    height: 500px;
    float: left;
    width: 50%;
    -webkit-mask-image: url(Images/Image\ Mask.png);
    mask-image: url(Images/Image\ Mask\ 3.png);
    -webkit-mask-size: cover;
    mask-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

.sec1,
.sec2 {
    padding-top: 120px;
}

.secp1 h2 {
    font-size: 40px;
    color: rgb(64, 74, 85);
}

.secp1 h4 {
    font-size: 33px;
    color: gray;
}

.secp1 p {
    font-size: 25px;
    color: lightslategrey;
}

.fs p {
    color: lightslategrey;
    font-size: 20px;
}

.more {
    color: #438EDE;
}

.imgbg2 {
    height: 500px;
    float: right;
    width: 30%;
    /* background-image: url(Images/GirlPhone.avif); */
    -webkit-mask-image: url(Images/Image\ Mask.png);
    mask-image: url(Images/Image\ Mask\ 3.png);
    -webkit-mask-size: cover;
    mask-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
}

.secp2 {
    width: 49%;
    padding-left: 40px;
}

.price{
    text-align: center;
    font-size: 30px;
    padding-left: 20%;
    padding-right: 20%;
}

.price p{
    font-size: 20px;
    color: lightslategrey;
}

.price h2{
    color: rgb(64, 74, 85);
}
.pricetag{
    width: 26%;
    height: 200px;
    border: 2px solid gray;
    display: inline-block;
    justify-content: center;
    background-color: #438EDE;
}
.dollar{
    vertical-align: super;
}